<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "wien.pokemongo.map"
    versionCode = "10"
    version     = "0.0.3" >

<!-- versionCode is optional and Android only -->

  <name>PokeMap</name>

  <description>
      Die Pokemap der Wiener PokemonGO Community.
  </description>

  <author href="https://pokemongo.wien" email="admin@darky.at">
      Harald Haas
  </author>

  <!-- We'll include the Barcode plugin as an example -->
  <plugin name="cordova-plugin-whitelist" />
  <plugin name="com.danielcwilson.plugins.googleanalytics" spec="0.6.1" source="pgb" />

</widget>